$height-normal: 60px;
$height-small: 48px;

$width-large: 216px;
$width-normal: 204px;
$width-small: 189px;

$border-radius: 4px;

$background-btn: #4AB7FF;

$color-white: white;

$font-size-small: 16px;
$font-size-normal: 20px;

$line-height-normal: 28px;
$line-height-small: 24px;

.buttons {
  background: $background-btn;
  border: 0;
  cursor: pointer;
  color: $color-white;
  font-style: normal;
  font-weight: bold;
  align-items: center;
  justify-content: center;

  .btn-section-second,
  .btn-eight,
  .btn-footer {
    $width-large: 216px;
    $height-normal: 60px;
  }
  .btn-section-third {
    $width-normal: 204px;
    $height-normal: 60px;
  }
  .btn-section-fourth {
    $width-small: 189px;
    $height-normal: 60px;
  }

}

.buttons:hover {
  background: linear-gradient(to right bottom, #0B59D0, #4AB7FF);
}

.buttons:active {
  background: linear-gradient(to bottom, #192783, #0557DA);
}
