$background-blue_dark: #1C288F;
$background-nav: #4AB7FF;
$background-btn: #4AB7FF;
$background-grey: #E7EFFA;
$background-input: #E7EFFA;
$background-blue: #0F4FC0;
$background-white: white;

$color-h1: #4AB7FF;
$color-h2: #7D7D7D;
$color-h3: #262626;
$color-white: white;
$color-title: #20252E;
$color-title_blue: #4AB7FF;
$color-form: #20252E;

$color-gradient_dark: #0B59D0;
$color-gradient_super-light: #4AB7FF;
$color-gradient_super-dark: #192783;
$color-gradient_light: #0557DA;

$color-input: #838A94;
$color-label: #4AB7FF;

$border-color-input: #E7EFFA;
$border-color-input_hover: #4AB7FF;

$color-decoration: #4AB7FF;

$color-links_blue: #4AB7FF;
$color-links_grey: #373737;

$color-general: #262626;
