$width_icon_normal: 100px;
$height_icon_normal: 100px;

$height_icon_small: 72px;
$height_icon_small: 72px;

.icons-normal {
  $width_icon_normal: 100px;
  $height_icon_normal: 100px;
}

.icons-small {
  $width_icon_small: 72px;
  $height_icon_small: 72px;
}
