@import "font-background";
@import "colors";


/*
@mixin test-third-left-side($font-style, $font-weight_bold, $color-title) {

  .get-advice {
    font-size: $font-size_huge;
    line-height: $line-height_huge;
    position: relative;
  }
  .your-address {
    font-size: $font-size_normal;
    line-height: $line-height_normal;
  }
}
*/

