* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: PT Sans, sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 0 168px;
    flex: 0 0 72px;
    background: #1C288F;
    height: 72px;
    width: 100%;
    position: fixed;
    z-index: 99;
}

nav {
    display: flex;
    align-items: center;

}

.nav {
    display: flex;
}

.nav a,
.phone {
    text-decoration: none;
}

.nav a:hover,
.phone:hover {
    text-decoration: underline;
}

.phone,
.envelope,
.nav-btn {
    margin-left: 16px;
}

.nav li {
    list-style: none;
    margin-right: 32px;
}

.nav li:last-child {
    margin-right:0;
}


.nav-btn {
    width: 216px;
    height: 48px;
    background: #4AB7FF;
    border-radius: 4px;
    align-items: center;
    justify-content: center;
    border: none;
}

.phone,
.nav-btn,
.nav-link,
.envelope {
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    color: white;
}

.logo {
    width: 200px;
    height: 60px;
    background: url('./../img/logo.png') no-repeat center;
}

.section-first {
    width: 100%;
    height: 100vh;
    background: url('./../img/s1-background.png') no-repeat right, linear-gradient(to bottom, #192783, #0557DA);
    padding-top: 72px;
    margin-bottom: 48px;
    clip-path: polygon(0 0, 100% 0, 100% 676px, 420px 786px, 0 676px);
}

.section-first-wrapper {
    margin: 216px 0 0 248px;
}

h1 {
    color: #4AB7FF;
    font-weight: bold;
    font-size: 80px;
    line-height: 80px;
    margin-bottom: 16px;
}

.section-first-description {
    font-family: Open Sans, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    width: 624px;
    color: white;
}

.section-second-wrapper {
    width: 1168px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.section-second {
    margin: 0 376px;
}

h2 {
    margin-bottom: 48px;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 52px;
    color: #7D7D7D;
}

h3 {
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 52px;
    color: white;
    margin-bottom: 16px;
}

.section-second-advantages {
    width: 576px;
    height: 400px;
    background: linear-gradient(to bottom right, #0B59D0,#4AB7FF);
    padding: 56px 32px;
}

.section-second-advantages:nth-child(1) {
    margin-bottom: 16px;
}

.advantages-wrapper {
    display: flex;
    flex-direction: column;
}

.section-second-last-advantages {
    display: flex;
    align-items: center;
    height: 448px;
    background: white;
    width: 100%;
}

.last-advantages {
    background: url('./../img/s2-background.png') no-repeat, linear-gradient(to bottom right, #0B59D0,#4AB7FF);
    height: 320px;
    justify-content: space-between;
    display: flex;
    flex: 0 0 1168px;
    position: relative;
}

.left-side {
    display: flex;
    flex-direction: column;
    padding: 56px 32px;
}

.right-side {
    background: url('./../img/s2-advantages.png') no-repeat;
    width: 448px;
    height: 416px;
    position: absolute;
    top: -65px;
    right: 54px;
}

.advantages-wrapper li {
    list-style: none;
}

.advantages-wrapper li,
.section-second-description {
    color: white;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
}

.section-second-description {
    width: 408px;
}

.btn-section-second {
    width: 216px;
    height: 60px;
    border-radius: 4px;
    background: #4AB7FF;
    color: white;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 28px;
    border: 0;
    cursor: pointer;
    margin-top: 32px ;
}

.section-third {
    width: 1920px;
    background: url('./../img/s1-background.png') no-repeat, linear-gradient(to bottom, #192783, #0557DA);
    margin-bottom: 48px;
    height: 1258px;
    clip-path: polygon(0 0, 420px 80px, 100% 0, 100% 1148px, 420px 1258px, 0 1148px, 0 100%);
}

.section-third-wrapper {
    margin: 0 377px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.section-third-advantages {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 378px;
    height: 378px;
    background: #E7EFFA;
    padding: 32px;
    margin-bottom: 16px;
}

.section-third-icon {
    background: aquamarine;
    width: 100px;
    height: 100px;
    /*background: url(./../img/s3-icon.png) no-repeat;*/
}

.section-third h2,
.section-fourth h2,
.section-fifth h2,
h2,
.section-seventh h2,
.section-eighth H2{
    margin-left: 377px;
}

.section-third h3 {
    color: #262626;
}

.section-third-last-advantages {
    display: flex;
    justify-content: space-between;
    width: 1168px;
    height: 236px;
    background: white;
    padding: 56px 32px 0 32px;
}

.third-left-side {
    width: 400px;
}

.third-left-side::after {
    width: 80px;
    height: 2px;
    background: #4AB7FF;
}

.get-advice {
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 52px;
    color: #20252E;
}

.your-address {
    font-family: Open Sans, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #20252E;
}

.third-right-side {
    width: 600px;
}

.section-third-form input {
    background: #E7EFFA;
    font-family: PT Sans, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 28px;
    color: #838A94;
    padding: 16px;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border: none;
    width: 396px;
}

.btn-section-third {
    width: 204px;
    height: 60px;
    color: white;
    border: 0;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    background: #4AB7FF;
    border: none;
    font-family: PT Sans, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 28px;
}

.section-third-form {
    display: flex;
    margin-bottom: 16px;
 }

.fields-group {
    font-family: Open Sans, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #20252E;
}

.fields-group a {
    color: #4AB7FF;
}

.section-fourth {
    margin-bottom: 64px;
}

.section-fourth-wrapper {
    margin: 0 377px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background: white;
    width: 1168px;
}

.section-fourth-advantages {
    background: linear-gradient(to bottom right, #0B59D0, #4AB7FF);
    width: 280px;
    height: 280px;
    padding: 48px 32px 56px 32px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
}

.section-fourth-icon {
    background: aquamarine;
    display: flex;
    width: 72px;
    height: 72px;
}

.section-fourth-last-advantages {
    display: flex;
    align-items: center;
    height: 448px;
    background: white;
    width: 100%;
}

.fourth-last-advantages {
    background: url(./../img/s2-background.png) no-repeat, linear-gradient(to bottom right, #0B59D0,#4AB7FF);
    height: 320px;
    justify-content: space-between;
    display: flex;
    flex: 0 0 1168px;
    position: relative;
}

.fourth-right-side {
    background: url(./../img/s4-advantages.png) no-repeat;
    width: 448px;
    height: 448px;
    position: absolute;
    right: 56px;
    top: -65px;
}

.btn-section-fourth {
    width: 189px;
    height: 60px;
    border-radius: 4px;
    background: #4AB7FF;
    color: white;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 28px;
    border: 0;
    cursor: pointer;
    margin-top: 32px;
}

.section-fourth-advantages h4 {
    font-family: PT Sans, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 32px;
    color: white;
}

.fourth-left-side {
    display: flex;
    flex-direction: column;
    margin: 56px 32px;
}

.fourth-left-side h2 {
    color: white;
    margin: 0 0 16px 0;
}


.section-fifth-partner-1 {
    width: 228px;
}

.section-fifth {
    margin-bottom: 64px;
}

.fifth-toggle-block {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.section-fifth-wrapper {
    display: flex;
    flex-wrap: wrap;
    height: 124px;
    justify-content: space-around;
    align-items: center;
}

.partner-block {
    display: flex;
    flex-wrap: wrap;
    width: 1453px;
}

.section-fifth-toggle-left {
    width: 48px;
    height: 48px;
    background: url(./../img/toggle-left.png) no-repeat center;
    cursor: pointer;
    border: 0;
}

.section-fifth-toggle-right {
    width: 48px;
    height: 48px;
    background: url(./../img/toggle-right.png) no-repeat center;
    cursor: pointer;
    border: 0;
}

.partner {
    height: 124px;
    margin-right: 32px;
}

.partner:last-child {
    margin-right: 0;
}

.section-fifth-partner-1 {
    width: 228px;
    background: url(./../img/s6-partner-1.png) no-repeat;
}

.section-fifth-partner-2 {
    width: 238px;
    background: url(./../img/s6-partner-2.png) no-repeat;
}

.section-fifth-partner-3 {
    width: 243px;
    background: url(./../img/s6-partner-3.png) no-repeat;
}

.section-fifth-partner-4 {
    width: 308px;
    background: url(./../img/s6-partner-4.png) no-repeat;
}

.section-fifth-partner-5 {
    width: 308px;
    background: url(./../img/s6-partner-5.png) no-repeat;
}


.section-sixth-wrapper {
    display: flex;
    flex-wrap: wrap;
    margin-bottom:  48px;
}

.section-sixth-wrapper::before {
    content: "";
    position: absolute;
    padding-bottom: 64px;
    background: #E7EFFA;
    clip-path: polygon(0 0, 420px 80px, 100% 0, 100% 100%, 0 100%);
    width: 100%;
    height: 600px;
}

.section-sixth {
    width: 100%;
    display: flex;
    justify-content: center;
}

.section-sixth-advantages {
    position: relative;
    margin-right: 16px;
    width: 379px;
    height: 540px;
    background: #0F4FC0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 32px 32px 32px 32px;
}

.section-sixth-advantages:last-child {
    margin-right: 0;
}
.title-partner {
    font-family: PT Sans, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 36px;
    color: white;
}

.icon-partner-one {
    background: url('./../img/s5-title2.png') no-repeat center;
    width: 267px;
    height: 67px;
    margin: 24px 24px 56px 24px;
}

.icon-partner-two {
    background: url('./../img/s5-title1.png') no-repeat center;
    width: 157px;
    height: 90px;
    margin: 0 24px 56px 24px;
}
.icon-partner-three {
    background: url('./../img/s5-title3.png') no-repeat center;
    width: 270px;
    height: 67px;
    margin: 24px 24px 56px 24px;
}

.section-sixth-description {
    font-family: Open Sans, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: white;
    margin-top:  16px;
}

.section-sixth-icon {
    width: 100px;
    height: 100px;
    background: burlywood;
    align-self: flex-end;
}

.section-seventh {
    background: #E7EFFA;
    display: flex;
    flex-direction: column;
    clip-path: polygon(0 0, 100% 0, 100% 640px, 420px 700px, 0 641px);
    padding-bottom: 64px;
}

.seventh-toggle-block {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.section-seventh-wrapper {
    background: linear-gradient(to bottom, #192783, #0557DA);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 56px 56px 16px 56px;
    height: 540px;
    width: 1168px;
}

.section-seventh-general {
    display: flex;
    flex-direction: column;
}

.section-seventh-name {
    font-family: PT Sans, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 52px;
}

.section-seventh-title-partner {
    font-family: PT Sans, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 36px;
    color: white;
}

.section-seventh-description {
    font-family: Open Sans, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    margin: 32px 0;
    width: 600px;
}

.section-seventh-pagination {
    background: aquamarine;
    width: 368px;
    height: 70px;
    display: flex;
    align-self: center;
}

.feedback {
    font-family: PT Sans, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 16px;
    color: #4AB7FF;
    text-decoration: none;
}

.toggle {
    width: 368px;
    height: 48px;
    display: flex;
    align-self: center;
    background: indianred;
}

.toggle-block > input[type=radio] {
  visibility: hidden;
}

.section-eight {
    background: url(./../img/s2-background.png) no-repeat, linear-gradient(to bottom right, #0B59D0,#4AB7FF);
    height: 320px;
    flex-direction: column;
    justify-content: space-between;
    display: flex;
    width: 1168px;
    margin: 0 377px 48px 377px;
    padding: 56px 32px;
    color: white;
}

.section-eight-questions {
    font-family: PT Sans, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 52px;
}

.section-eight-title {
    width: 333px;
}

.btn-eight {
    width: 216px;
    height: 60px;
    border-radius: 4px;
    background: #4AB7FF;
    color: white;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 28px;
    border: 0;
    cursor: pointer;
    margin-top: 32px;
}

.footer-wrapper {
    display: flex;
    justify-content: space-between;
    background: #1C288F;
    padding: 32px 170px 0 170px;
    height: 184px;
}

.footer-wrapper .logo {
    width: 304px;
}

.footer-copyright {
    color: #373737;
    display: flex;
    height: 32px;
    align-items: center;
    justify-content: space-between;
    padding: 0 170px 0 170px;
    font-family: Open Sans, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
}

.our-address,
.information {
    width: 384px;
}

.our-address,
.information a {
    color: white;
    text-decoration: none;
    font-family: Open Sans, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    display: flex;
    flex-direction: column;
}

.social  {
    width: 208px;
    height: 40px;
    background: aliceblue;
}

.btn-footer {
    width: 216px;
    height: 60px;
    border-radius: 4px;
    background: #4AB7FF;
    color: white;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 28px;
    border: 0;
    cursor: pointer;
    margin-top: 56px;
}


.footer-info a {
    font-family: Open Sans, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    text-decoration: none;
    color: #373737;
    margin-left: 32px;
}

