* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: PT Sans, sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 0 168px;
    flex: 0 0 72px;
    background: #1C288F;
    height: 72px;
    width: 100%;
    position: fixed;
    z-index: 99;
}

nav {
    display: flex;
    align-items: center;

}

.nav {
    display: flex;
}

.nav a,
.phone {
    text-decoration: none;
}

.nav a:hover,
.phone:hover {
    text-decoration: underline;
}

.phone,
.envelope,
.nav-btn {
    margin-left: 16px;
}

.icon-phone {
    visibility: hidden;
}

.envelope,
.icon-social {
    text-decoration: none;
}

.nav li {
    list-style: none;
    margin-right: 32px;
}

.nav li:last-child {
    margin-right:0;
}


.nav-btn {
    width: 216px;
    height: 48px;
    background: #4AB7FF;
    border-radius: 4px;
    align-items: center;
    justify-content: center;
    border: none;
}

.phone,
.nav-btn,
.nav-link,
.envelope {
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    color: white;
}

.logo {
    width: 200px;
    height: 60px;
    background: url('./../img/logo.png') no-repeat center;
}

.section-first {
    width: 100%;
    height: calc(100vh - 100px);
    background: url('./../img/s1-background.png') no-repeat right, linear-gradient(to bottom, #192783, #0557DA);
    padding-top: 72px;
    margin-bottom: 48px;
    clip-path: polygon(0 0, 100% 0, 100% calc(100vh - 200px), 420px calc(100vh - 110px), 0 calc(100vh - 200px));;
}

.section-first-wrapper {
    margin: 216px 0 0 248px;
}

h1 {
    color: #4AB7FF;
    font-weight: bold;
    font-size: 80px;
    line-height: 80px;
    margin-bottom: 16px;
}

h2 {
    margin-left:  377px;
}

.section-first-description {
    font-family: Open Sans, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    width: 624px;
    color: white;
}

.section-second-wrapper {
    width: 1168px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

h2 {
    margin-bottom: 48px;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 52px;
    color: #7D7D7D;
}

h3 {
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 52px;
    color: white;
    margin-bottom: 16px;
}

.section-second-advantages {
    width: 576px;
    height: 400px;
    background: linear-gradient(to bottom right, #0B59D0,#4AB7FF);
    padding: 56px 32px;
}

.section-second-advantages:nth-child(1) {
    margin-bottom: 16px;
}

.advantages-wrapper {
    display: flex;
    flex-direction: column;
    width: 400px;
}

.advantages-wrapper ul {
    padding-left: 12px;
}

.section-second-last-advantages {
    display: flex;
    align-items: center;
    height: 448px;
    background: white;
    width: 100%;
}

.last-advantages {
    background: url('./../img/s2-background.png') no-repeat, linear-gradient(to bottom right, #0B59D0,#4AB7FF);
    height: 320px;
    justify-content: space-between;
    display: flex;
    flex: 0 0 1168px;
    position: relative;
}

.left-side {
    display: flex;
    flex-direction: column;
    padding: 56px 32px;
}

.right-side {
    background: url('./../img/s2-advantages.png') no-repeat;
    width: 448px;
    height: 416px;
    position: absolute;
    top: -65px;
    right: 54px;
}

.advantages-wrapper li {
    list-style: none;
}

.advantages-wrapper li,
.section-second-description {
    color: white;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
}

.advantages-wrapper li:nth-child(n+3) {
    opacity: .5;
}

.advantages-wrapper li:nth-child(n+4) {
    opacity: .2;
}

.section-second-description {
    width: 408px;
}

.btn-section-second {
    width: 216px;
    height: 60px;
    border-radius: 4px;
    background: #4AB7FF;
    color: white;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 28px;
    border: 0;
    cursor: pointer;
    margin-top: 32px ;
}

.section-third-wrapper {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 175px;
}

.section-third-wrapper::before {
    content: "";
    position: absolute;
    padding-bottom: 190px;
    background: url(./../img/s3-background.png) no-repeat right, linear-gradient(to bottom, #192783, #0557DA);
    clip-path: polygon(0 0, 420px 80px, 100% 0, 100% 1048px, 420px 1158px, 0 1048px, 0 100%);
    width: 100%;
    height: 100vh;
}

.section-third {
    display: flex;
    flex-wrap: wrap;
    width: 1166px;
    margin: 0 auto;
}

.section-third-advantages {
    position: relative;
    margin: 0 16px 16px 0;
    width: 378px;
    height: 378px;
    background: #E7EFFA;
    padding: 32px 32px 32px 32px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.section-third-advantages:nth-child(3) {
    margin-right: 0;
}

.section-third-advantages:nth-child(6) {
    margin-right: 0;
}

.section-third-icon {
    width: 100px;
    height: 100px;
    font-size: 100px;
}

.section-third h3 {
    color: #262626;
}

.section-third-last-advantages {
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 1168px;
    height: 236px;
    background: white;
    padding: 56px 32px 56px 32px;
}

.third-left-side {
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.get-advice {
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 52px;
    color: #20252E;
    position: relative;
}

.get-advice::after {
    content: "";
    position: absolute;
    width: 80px;
    height: 2px;
    background: #4AB7FF;
    left: 0;
    top: 75px;
}

.your-address {
    font-family: Open Sans, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #20252E;
}

.third-right-side {
    width: 600px;
}

.section-third-form input {
    background: #E7EFFA;
    font-family: PT Sans, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 28px;
    color: #838A94;
    padding: 16px;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border: none;
    width: 396px;
}

.btn-section-third {
    width: 204px;
    height: 60px;
    color: white;
    border: 0;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    background: #4AB7FF;
    border: none;
    font-family: PT Sans, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 28px;
}

.section-third-form {
    display: flex;
    margin-bottom: 16px;
 }

.fields-group {
    font-family: Open Sans, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #20252E;
}

.icon-s-2-checkbox {
    font-size: 16px;
    cursor: pointer;
    margin-right: 16px;
}

.fields-group input {
    /*visibility: hidden;*/
    display: none;
}

.fields-group a {
    color: #4AB7FF;
}

.section-fourth {
    margin-bottom: 64px;
}

.section-fourth-wrapper {
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background: white;
    width: 1168px;
}

.section-fourth-advantages {
    background: linear-gradient(to bottom right, #0B59D0, #4AB7FF);
    width: 280px;
    height: 280px;
    padding: 48px 32px 56px 32px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
}

.section-fourth-icon {
    display: flex;
    width: 72px;
    height: 72px;
    font-size: 72px;
}

.section-fourth-last-advantages {
    display: flex;
    align-items: center;
    height: 448px;
    background: white;
    width: 100%;
}

.fourth-last-advantages {
    background: url(./../img/s2-background.png) no-repeat, linear-gradient(to bottom right, #0B59D0,#4AB7FF);
    height: 320px;
    justify-content: space-between;
    display: flex;
    flex: 0 0 1168px;
    position: relative;
}

.fourth-right-side {
    background: url(./../img/s4-advantages.png) no-repeat;
    width: 448px;
    height: 448px;
    position: absolute;
    right: 56px;
    top: -65px;
}

.btn-section-fourth {
    width: 189px;
    height: 60px;
    border-radius: 4px;
    background: #4AB7FF;
    color: white;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 28px;
    border: 0;
    cursor: pointer;
    margin-top: 32px;
}

.section-fourth-advantages h4 {
    font-family: PT Sans, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 32px;
    color: white;
}

.fourth-left-side {
    display: flex;
    flex-direction: column;
    margin: 56px 32px;
}

.fourth-left-side h2 {
    color: white;
    margin: 0 0 16px 0;
}


.section-fifth-partner-1 {
    width: 228px;
}

.section-fifth {
    margin-bottom: 64px;
}

.fifth-toggle-block {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.section-fifth-wrapper {
    display: flex;
    flex-wrap: wrap;
    height: 124px;
    justify-content: space-around;
    align-items: center;
}

.partner-block {
    display: flex;
    flex-wrap: wrap;
}

.section-fifth-toggle-left,
.section-fifth-toggle-right {
    width: 48px;
    height: 48px;
    cursor: pointer;
    border: 0;
    font-size: 37px;
}

.section-fifth-toggle {
    background: white;
    color: #262626;
    opacity: .2;
}

.section-seventh-toggle {
    background: #E7EFFA;
    color: #4AB7FF;
}

.partner {
    height: 124px;
    margin-right: 32px;
}

.partner:last-child {
    margin-right: 0;
}

.section-fifth-partner-1 {
    width: 228px;
    background: url(./../img/s6-partner-1.png) no-repeat;
}

.section-fifth-partner-2 {
    width: 238px;
    background: url(./../img/s6-partner-2.png) no-repeat;
}

.section-fifth-partner-3 {
    width: 243px;
    background: url(./../img/s6-partner-3.png) no-repeat;
}

.section-fifth-partner-4 {
    width: 308px;
    background: url(./../img/s6-partner-4.png) no-repeat;
}

.section-fifth-partner-5 {
    width: 308px;
    background: url(./../img/s6-partner-5.png) no-repeat;
}


.section-sixth-wrapper {
    display: flex;
    flex-wrap: wrap;
    margin-bottom:  48px;
}

.section-sixth-wrapper::before {
    content: "";
    position: absolute;
    padding-bottom: 64px;
    background: #E7EFFA;
    clip-path: polygon(0 0, 420px 80px, 100% 0, 100% 100%, 0 100%);
    width: 100%;
    height: 600px;
}

.section-sixth {
    width: 100%;
    display: flex;
    justify-content: center;
}

.section-sixth-advantages {
    position: relative;
    margin-right: 16px;
    width: 379px;
    height: 540px;
    background: #0F4FC0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 32px 32px 32px 32px;
}

.section-sixth-advantages:last-child {
    margin-right: 0;
}

.title-partner {
    font-family: PT Sans, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 36px;
    color: white;
}

.icon-partner-one {
    background: url('./../img/s5-title2.png') no-repeat center;
    width: 267px;
    height: 67px;
    margin: 24px 24px 56px 24px;
}

.icon-partner-two {
    background: url('./../img/s5-title1.png') no-repeat center;
    width: 157px;
    height: 90px;
    margin: 0 24px 56px 24px;
}
.icon-partner-three {
    background: url('./../img/s5-title3.png') no-repeat center;
    width: 270px;
    height: 67px;
    margin: 24px 24px 56px 24px;
}

.section-sixth-description {
    font-family: Open Sans, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: white;
    margin-top:  16px;
    background: linear-gradient(to bottom, white 50%, rgba(255, 255, 255, .5) 75%, rgba(255, 255, 255, .2) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.section-sixth-icon {
    width: 100px;
    height: 100px;
    font-size: 100px;
    align-self: flex-end;
}
.icon-calendar {
    width: 100px;
    height: 100px;
}

.section-seventh {
    background: #E7EFFA;
    display: flex;
    flex-direction: column;
    clip-path: polygon(0 0, 100% 0, 100% 640px, 420px 700px, 0 641px);
    padding-bottom: 48px;
}

.seventh-toggle-block {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.section-seventh-wrapper {
    background: linear-gradient(to bottom, #192783, #0557DA);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 56px 56px 16px 56px;
    height: 540px;
    width: 1168px;
}

.section-seventh-general {
    display: flex;
    flex-direction: column;
}

.section-seventh-name {
    font-family: PT Sans, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 52px;
}

.section-seventh-title-partner {
    font-family: PT Sans, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 36px;
    color: white;
}

.section-seventh-description {
    font-family: Open Sans, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    margin: 32px 0;
    width: 600px;
    background: linear-gradient(to bottom, white 50%, rgba(255, 255, 255, .5) 75%, rgba(255, 255, 255, .2) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    /*background: -webkit-gradient(linear, left top, left bottom, from(white), to(rgba(255, 255, 255, .5)));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;*/

}

.section-seventh-pagination {
    width: 284px;
    height: 70px;
    display: flex;
    align-self: center;
    align-items: flex-end;
    justify-content: space-between;
    cursor: pointer;
}

.section-seventh-pagination:hover {
    opacity: .5;
}

.feedback {
    font-family: PT Sans, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 16px;
    color: #4AB7FF;
    text-decoration: none;
}

.toggle {
    width: 368px;
    height: 48px;
    display: flex;
    align-self: center;
    background: indianred;
}

.toggle-block > input[type=radio] {
  visibility: hidden;
}

.section-eight {
    background: url(./../img/s2-background.png) no-repeat, linear-gradient(to bottom right, #0B59D0,#4AB7FF);
    height: 320px;
    flex-direction: column;
    justify-content: space-between;
    display: flex;
    width: 1168px;
    padding: 56px 32px;
    color: white;
    margin: auto;
}

.section-eight-questions {
    font-family: PT Sans, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 52px;
}

.section-eight-title {
    width: 333px;
}

.btn-eight {
    width: 216px;
    height: 60px;
    border-radius: 4px;
    background: #4AB7FF;
    color: white;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 28px;
    border: 0;
    cursor: pointer;
    margin-top: 32px;
}

.footer-wrapper {
    display: flex;
    justify-content: space-between;
    background: #1C288F;
    padding: 32px 170px 30px 170px;
    height: 184px;
    margin-top: 48px;
}

.footer-wrapper .logo {
    width: 304px;
}

.footer-copyright {
    color: #373737;
    display: flex;
    height: 32px;
    align-items: center;
    justify-content: space-between;
    padding: 0 170px;
    font-family: Open Sans, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
}

.our-address,
.information {
    width: 384px;
}

.our-address,
.information a {
    color: white;
    text-decoration: none;
    font-family: Open Sans, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    display: flex;
    flex-direction: column;
}

.social  {
    width: 216px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.footer-icon-group {
    display: flex;
    justify-content: space-between;
    font-size: 36px;
}

.btn-footer {
    width: 216px;
    height: 60px;
    border-radius: 4px;
    background: #4AB7FF;
    color: white;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 28px;
    border: 0;
    cursor: pointer;
}


.footer-info a {
    font-family: Open Sans, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    text-decoration: none;
    color: #373737;
    margin-left: 32px;
}


@media (max-width: 1360px) {
    header {
        padding: 0 48px;
    }
    h2 {
        margin-left: 96px;
    }
    .section-first-wrapper {
        margin-left: 128px;
    }
    .section-second-wrapper {
        margin: 0 96px;
    }
    .section-third-wrapper {
        margin-bottom: 76px;
    }
    .section-fifth-wrapper {
        width: 1163px;
    }
    .partner:last-child {
        visibility: hidden;
    }
    .footer-wrapper {
        padding: 32px 48px 30px 48px;
    }
    .footer-wrapper .logo {
        width: 224px;
        margin-right: 96px;
    }
    .information {
        margin-left: 96px;
    }
    .footer-copyright {
        padding: 0 48px;
    }
}

@media (max-width: 1024px) {
    header {
        padding: 0 40px;
    }
    .nav-btn {
        width: 185px;
        font-size: 14px;
        line-height: 20px;
    }
    .phone {
        visibility: hidden;
    }
    .icon-phone {
        visibility: visible;
    }
    h2 {
        margin-left: 96px;
    }
    .nav li {
        margin-right: 24px;
    }
    .section-second-wrapper {
        width: 848px;
    }
    .section-second-advantages {
        width: 416px;
        height: 400px;
    }
    .section-third-advantages {
        width: 272px;
        height: 272px;
    }
    .advantages-wrapper {
        width: 320px;
    }
    .advantages-wrapper ul {
        width: 320px;
    }
    h3 {
        width: 320px;
    }
    .last-advantages {
        flex: 848px;
    }
    .right-side {
        width: 416px;
        height: 416px;
    }
    .section-second-description {
        width: 308px;
    }
    .btn-section-second {
        width: 185px;
        height: 48px;
        font-size: 16px;
        line-height: 24px;
    }
    .left-side h3 {
        width: 408px;
        font-size: 32px;
        line-height: 48px;
    }
    .section-third {
        width: 848px;
    }
    .section-third h3 {
        width: 224px;
        font-size: 24px;
        line-height: 32px;
    }
    .section-third-last-advantages {
        width: 848px;
    }
    .get-advice {
        width: 400px;
        font-size: 32px;
        line-height: 48px;
    }
    .section-third-form input {
        font-size: 16px;
        line-height: 20px;
        width: 254px;
        height: 48px;
    }
    .btn-section-third {
        width: 130px;
        height: 48px;
        font-size: 16px;
        line-height: 24px;
    }
    .fields-group {
        font-size: 12px;
        line-height: 14px;
        width: 384px;
        height: 42px;
    }
    .section-third-wrapper::before {
        padding-bottom: 0;
    }
    .section-fourth {
        width: 848px;
    }
    .section-fourth-wrapper {
        width: 848px;
    }
    .section-fourth-advantages {
        width: 200px;
        height: 200px;
        padding: 48px 16px 16px 32px;
    }
    .section-fourth-icon {
        font-size: 51px;
        width: 56px;
        height: 56px;
    }
    .section-fourth-advantages h4 {
        font-size: 16px;
        line-height: 24px;
    }
    .btn-section-fourth {
        width: 185px;
        height: 48px;
        font-size: 16px;
        line-height: 24px;
    }
    .section-fifth-wrapper {
        width: 1024px;
    }
    .partner-block {
        width: 800px;
    }
    .partner {
     height: 103px;
    }
    .section-fifth-toggle-left,
    .section-fifth-toggle-right {
        width: 40px;
        height: 40px;
        font-size: 24px;
    }
    .section-fifth-partner-1 {
        width: 189px;
    }
    .section-fifth-partner-2 {
        width: 193px;
    }
    .section-fifth-partner-3 {
        width: 244px;
    }
    .section-fifth-partner-4 {
        width: 244px;
    }
    .section-fifth-partner-5 {
        visibility: hidden;
    }
    .section-sixth {
        width: 848px;
    }
    .section-sixth-advantages {
        width: 272px;
        height: 541px;
        padding-top: 18px;
    }
    .icon-partner-one,
    .icon-partner-three {
        width: 206px;
        height: 52px;
        margin: 38px 0 56px 0;
    }
    .section-seventh-wrapper {
        width: 848px;
        height: 540px;
    }
    .section-seventh {
        padding-bottom: 64px;
    }
    .section-eight {
        width: 848px;
    }
    .btn-eight {
        width: 185px;
        height: 48px;
        font-size: 16px;
        line-height: 24px;
    }
    .footer-wrapper {
        height: 224px;
        padding: 32px 40px;
    }
    .footer-wrapper .logo {
        width: 213px;
        height: 48px;
        margin-right: 26px;
    }
    .our-address {
        width: 384px;
        height: 72px;
        font-size: 16px;
        line-height: 24px;
    }
    .information {
        width: 224px;
        height: 72px;
    }

}
























