@import '_colors.scss';
@import '_buttons.scss';
@import "_font-background.scss";
@import "_icon.scss";
@import "_mixins.scss";
@import "_modal.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: PT Sans, sans-serif;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 0 168px;
  flex: 0 0 72px;
  background: $background-blue_dark;
  height: 72px;
  width: 100%;
  position: fixed;
  z-index: 999;
  align-items: center;

  nav {
    display: flex;
    align-items: center;
  }

  .nav {
    display: flex;
  }

  .nav li {
    list-style: none;
    margin-right: 32px;
  }

  .nav li:last-child {
    margin-right: 0;
  }

  .nav a,
  .phone,
  .menu,
  .envelope,
  .icon-phone,
  .icon-social {
    text-decoration: none;
  }

  .nav a:hover,
  .phone:hover {
    text-decoration: underline;
  }

  .menu {
    font-size: 17px;
  }

  .envelope {
    font-size: 22px;
    line-height: 24px;
  }

  .phone,
  .envelope,
  .icon-phone,
  .menu {
    margin-left: 16px;
  }

  .icon-phone,
  .icon-menu {
    display: none;
  }

  .icon-phone {
    font-size: 18px;
  }

  .nav li {
    list-style: none;
    margin-right: 32px;
  }

  .nav li:last-child {
    margin-right: 0;
  }

  .phone,
  .nav-link {
    font-style: $font-style;
    font-weight: $font-weight_bold;
    font-size: $font-size_normal;
    line-height: $line-height_normal;
    color: white;
  }

  .phone,
  .nav-btn,
  .icon-phone,
  .menu {
    margin-left: 16px;
  }

  .nav-btn {
    @extend .buttons;
    width: $width-large;
    height: $height-small;
    border-radius: $border-radius;
    font-size: $font-size-small;
    line-height: $line-height-small;
  }

}

/*ЗАГОЛОВКИ*/
h1 {
  @extend .h1;
  margin-bottom: 16px;
}

h2 {
  @extend .h2;
  margin-bottom: 48px;
}

h3 {
  @extend .h3;
  color: $color-white;
  margin-bottom: 16px;
}


/*ЛОГО ОБЩИЙ НА HEADER И FOOTER*/
.logo {
  width: 200px;
  height: 48px;
  background: url('./../img/logo.png') no-repeat center;
  background-size: cover;
}


.section-first {
  width: 100%;
  height: calc(100vh - 100px);
  background: url('./../img/s1-background.png') no-repeat right, linear-gradient(to bottom, $color-gradient_super-dark, $color-gradient_light);
  padding-top: 72px;
  clip-path: polygon(0 0, 100% 0, 100% calc(100vh - 224px), 270px calc(100vh - 152px), 0 calc(100vh - 220px));

  .section-first-wrapper {
    margin: 216px 0 0 248px;
  }

  .section-first-description {
    font-family: $font-family;
    font-style: $font-style;
    font-weight: $font-weight_normal;
    font-size: $font-size_normal;
    line-height: $line-height_normal;
    width: 624px;
    color: $color-white;
  }
}

/*---ПРЕИМУЩЕСТВА ОТ ВНЕДРЕНИЯ---*/
.section-second-wrapper,
.wrapper-title,
.s-2-wrapper {
  width: 1168px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  .section-second-advantages {
    width: 576px;
    height: 400px;
    background: linear-gradient(to bottom right, $color-gradient_dark, $color-gradient_super-light);
    padding: 56px 32px;
  }

  .section-second-advantages:hover {
    background: linear-gradient(to bottom, $color-gradient_super-dark, $color-gradient_light);
  }

  .section-second-advantages:hover .advantages-wrapper li:nth-child(n+3),
  .section-second-advantages:hover .advantages-wrapper li:nth-child(n+4) {
    opacity: 1;
    color: $color-white;
  }

  .section-second-advantages:nth-child(1) {
    margin-bottom: 16px;
  }

  .advantages-wrapper {
    display: flex;
    flex-direction: column;
    width: 400px;
  }

  .advantages-wrapper ul {
    padding-left: 12px;
  }

  .section-second-last-advantages {
    display: flex;
    align-items: center;
    height: 448px;
    background: $background-white;
    width: 100%;
    margin-bottom: 48px;
  }

  .last-advantages {
    background: url('./../img/s2-background.png') no-repeat, linear-gradient(to bottom right, $color-gradient_dark, $color-gradient_super-light);
    height: 320px;
    justify-content: space-between;
    display: flex;
    flex: 0 0 1168px;
    position: relative;
  }

  .left-side {
    display: flex;
    flex-direction: column;
    padding: 56px 32px;
  }

  .right-side {
    background: url('./../img/s2-advantages.png') no-repeat;
    width: 448px;
    height: 416px;
    position: absolute;
    top: -65px;
    right: 54px;
  }

  .advantages-wrapper li,
  .section-second-description {
    color: $color-white;
    font-style: $font-style;
    font-weight: $font-weight_normal;
    font-size: $font-size_normal;
    line-height: $line-height_normal;
  }

  .advantages-wrapper li:nth-child(n+4) {
    opacity: .2;
  }

  .section-second-description {
    width: 280px; /*По дизайну ширина блока 408px, но есть перенос строки*/
  }

  .s-2-more {
    display: none;
  }

  .btn-section-second {
    @extend .buttons;
    width: $width-large;
    height: $height-normal;
    border-radius: $border-radius;
    font-size: $font-size-normal;
    line-height: $line-height-normal;
    margin-top: 32px;
  }

}

/*---ОСОБЕННОСТИ MASTER ЦОД---*/
.section-third-wrapper {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;

  .third-title {
    width: 1168px;
    margin: 0 auto;
  }

  .section-third {
    display: flex;
    flex-wrap: wrap;
    width: 1168px;
    margin: 0 auto;
  }

  .section-third-advantages {
    position: relative;
    margin: 0 16px 16px 0;
    width: 378px;
    height: 378px;
    background: $background-grey;
    padding: 32px 32px 32px 32px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

  }

  .section-third-advantages h3 {
    color: $color-h3;
  }

  .s-3-more {
    display: none;
  }

  .section-third-advantages:hover {
    background: linear-gradient(to bottom, $color-gradient_super-dark, $color-gradient_light);
  }

  .section-third-advantages:hover h3 {
    color: $color-white;
  }

  .section-third-advantages:nth-child(3),
  .section-third-advantages:nth-child(6) {
    margin-right: 0;
  }

  .section-third-icon {
    @extend .icons-normal;
    font-size: 100px;
  }

  .section-third-advantages:hover .section-third-icon {
    display: none;
  }

  .section-third-advantages:hover .s-3-more {
    display: flex;
    flex-direction: column;
    width: 304px;
  }

  .s-3-more {
    /*font-family: PT Sans, sans-serif;*/
    font-style: $font-style;
    font-weight: $font-weight_bold;
    font-size: $font-size_normal;
    line-height: $line-height_small;
    color: $color-links_blue;
    text-decoration: none;
  }

  .section-third-advantages:hover li {
    font-size: 16px;
    line-height: 24px;
    color: $color-white;
  }

  .section-third-advantages:hover li:nth-child(2) {
    opacity: .5;
  }

  .section-third-advantages:hover li:nth-child(3) {
    opacity: .2;
  }

  .section-third-last-advantages {
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 1168px;
    height: 236px;
    background: $background-white;
    padding: 56px 32px 56px 32px;
    margin: 0 auto;
  }

  .third-left-side {
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .get-advice {
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 52px;
    color: $color-title;
    position: relative;
  }

  .get-advice::after {
    content: "";
    position: absolute;
    width: 80px;
    height: 2px;
    background: $color-decoration;
    left: 0;
    top: 75px;
  }

  .your-address {
    font-family: Open Sans, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: $color-title;
  }

  .third-right-side {
    width: 600px;
  }

  .section-third-form input {
    background: $background-input;
    font-family: PT Sans, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: $font-size_input;
    line-height: $line-height_input;
    color: $color-input;
    padding: 16px;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border: 1px solid $border-color-input;
    width: 396px;
    height: 60px;
  }

  .section-third-form input:hover {
    box-sizing: border-box;
    border: 1px solid $border-color-input_hover;
  }

  .btn-section-third {
    @extend .buttons;
    width: $width-normal;
    height: $height-normal;
    font-size: $font-size-normal;
    line-height: $line-height-normal;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
  }

  .section-third-form {
    display: flex;
    margin-bottom: 16px;
  }

  .fields-group {
    font-family: Open Sans, sans-serif;
    font-style: $font-style;
    font-size: $font-size_normal;
    line-height: $line-height_normal;
    color: $color-form;
  }

  .fields-group a {
    text-decoration: none;
  }

  .icon-s-2-checkbox {
    font-size: 16px;
    cursor: pointer;
    margin-right: 16px;
  }

  .fields-group input {
    display: none;
  }

  .fields-group a {
    color: $color-links_blue;
  }

  .label-m {
    margin-left: 35px;
  }

}

.section-third-wrapper::before {
  content: "";
  position: absolute;
  padding-bottom: 279px;
  background: url(./../img/s3-background.png) no-repeat right, linear-gradient(to bottom, $color-gradient_super-dark, $color-gradient_light);
  clip-path: polygon(0 0, 420px 80px, 100% 0, 100% 1178px, 420px 1247px, 0 1178px, 0 100%);
  width: 100%;
  height: 100vh;
}

/*---Почему мы?---*/
.section-fourth {
  margin: 175px 0 48px 0;


  .section-fourth-wrapper,
  .s-6-wrapper {
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    background: white;
    width: 1168px;
  }

  .title-p-t {
    padding-top: 68px;
  }

  .section-fourth-advantages {
    background: linear-gradient(to bottom right, $color-gradient_dark, $color-gradient_super-light);
    width: 280px;
    height: 280px;
    padding: 48px 32px 56px 32px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
    margin-right: 16px;
    cursor: pointer;
  }

  .s-4-description,
  .s-4-more {
    display: none;
  }


  /*MIXIN*/
  .s-4-more,
  .s-6-more,
  .modal-prev {
    font-family: PT Sans, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 16px;
    color: #4AB7FF;
    text-decoration: none;
  }

  .section-fourth-advantages:hover {
    background: linear-gradient(to bottom, $color-gradient_super-dark, $color-gradient_light);
    padding-bottom: 26px;
  }

  .section-fourth-advantages:hover .s-4-description,
  .section-fourth-advantages:hover .s-4-more {
    display: flex;
    flex-direction: column;
  }

  .section-fourth-advantages:hover .s-4-description {
    font-family: Open Sans, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: white;
    margin-top: 16px;
    background: linear-gradient(to bottom, white 50%, rgba(255, 255, 255, .5) 75%, rgba(255, 255, 255, .2) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .section-fourth-advantages:hover .section-fourth-icon {
    display: none;
  }

  .section-fourth-advantages:last-child {
    margin-right: 0;
  }

  .section-fourth-icon {
    display: flex;
    width: 72px;
    height: 72px;
    font-size: 72px;
  }

  .section-fourth-last-advantages {
    display: flex;
    align-items: center;
    height: 448px;
    background: white;
    width: 100%;
  }

  .fourth-last-advantages {
    background: url(./../img/s2-background.png) no-repeat, linear-gradient(to bottom right, $color-gradient_dark, $color-gradient_super-light);
    height: 320px;
    justify-content: space-between;
    display: flex;
    flex: 0 0 1168px;
    position: relative;
    margin: 0 auto;
  }

  .fourth-right-side {
    background: url(./../img/s4-advantages.png) no-repeat;
    width: 448px;
    height: 448px;
    position: absolute;
    right: 56px;
    top: -65px;
  }

  .btn-section-fourth {
    @extend .buttons;
    width: $width-small;
    height: $height-normal;
    border-radius: $border-radius;
    font-size: $font-size-normal;
    line-height: $line-height-normal;
    margin-top: 32px;
  }

  .section-fourth-advantages h4 {
    @extend .h4;
  }

  .fourth-left-side {
    display: flex;
    flex-direction: column;
    margin: 56px 32px;
  }

  .fourth-left-side h2 {
    color: white;
    margin: 0 0 16px 0;
  }

}

/*---Нам доверяют---*/
.section-fifth {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;


  .fifth-toggle-block {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
  }

  .section-fifth-wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    margin: 0 auto;
    position: relative;
  }

  .w-h2 {
    width: 1168px;
  }

  .section-fifth-toggle {
    width: 40px;
    height: 40px;
    font-size: 37px;
    background: $background-white;
    display: flex;
    border: 0;
    position: absolute;
    color: $color-general;
    opacity: .2;
  }

  .section-fifth-toggle-left {
    left: -218px;
  }

  .section-fifth-toggle-right {
    right: -218px;
  }

  .section-seventh-toggle-left,
  .section-seventh-toggle-right {
    width: 48px;
    height: 48px;
    cursor: pointer;
    border: 0;
    font-size: 37px;
    position: absolute;
    z-index: 99;
  }

  .section-seventh-toggle-left {
    left: 20px;
    top: 50%;
  }

  .section-seventh-toggle-right {
    right: 20px;
    top: 50%;
  }

  .section-seventh-toggle {
    background: $background-grey;
    color: $color-decoration;
  }

  .partner {
    width: 20%;
    padding-right: 24px;
  }

  .partner:last-child {
    padding-right: 0;
  }

  .partner img {
    width: 100%;
  }

}

/*---Внедрения---*/
.section-sixth-wrapper {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin-top: 48px;

  .sixth-title {
    display: flex;
    width: 1168px;
    margin: 0 auto;
  }

  .section-sixth {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }

  .section-sixth-advantages {
    position: relative;
    margin-right: 16px;
    width: 379px;
    height: 540px;
    background: $background-blue;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 32px 32px 32px 32px;
  }

  .s-6-more,
  .section-sixth-description-full,
  .section-sixth-advantages:hover .section-sixth-description,
  .section-sixth-advantages:hover .section-sixth-icon {
    display: none;
  }

  .section-sixth-advantages:hover {
    background: linear-gradient(to right bottom, $color-gradient_dark, $color-gradient_super-light);
  }

  .section-sixth-advantages:hover .s-6-more,
  .section-sixth-advantages:hover .section-sixth-description-full {
    display: flex;
  }

  .section-sixth-description-full {
    font-style: $font-style;
    font-weight: $font-weight_normal;
    font-size: $font-size_normal;
    line-height: $line-height_normal;
    color: $color-white;
    margin-top: 16px;
    background: linear-gradient(to bottom, white 50%, rgba(255, 255, 255, .5) 75%, rgba(255, 255, 255, .2) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .section-sixth-advantages:last-child {
    margin-right: 0;
  }

  .title-partner {
    font-style: $font-style;
    font-weight: $font-weight_bold;
    font-size: $font-size_big;
    line-height: $line-height-middle;
    color: $color-white;
  }

  .icon-partner-one {
    width: 267px;
    height: 67px;
    margin: 24px 24px 56px 24px;
  }

  .icon-partner-two {
    width: 157px;
    height: 90px;
    margin: 0 24px 56px 24px;
  }

  .icon-partner-three {
    width: 270px;
    height: 67px;
    margin: 24px 24px 56px 24px;
  }

  .section-sixth-description {
    font-style: $font-style;
    font-weight: $font-weight_normal;
    font-size: $font-size_normal;
    line-height: $line-height_normal;
    color: $color-white;
    margin-top: 16px;
    background: linear-gradient(to bottom, white 50%, rgba(255, 255, 255, .5) 75%, rgba(255, 255, 255, .2) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }


  /*разобраться почему не подключает icons*/
  .section-sixth-icon {
    @extend .icons-normal;
    font-size: $font-size-icon_big;
    align-self: flex-end;
  }

}

.section-sixth-wrapper::before {
  content: "";
  position: absolute;
  padding-bottom: 75px;
  background: $background-grey;
  clip-path: polygon(0 100px, 420px 190px, 100% 100px, 100% 100%, 0 100%);
  width: 100%;
  height: 600px;
}

/*---Что о нас говорят клиенты---*/
.section-seventh-wrapper {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 48px;
  position: relative;


  .seventh-title {
    display: flex;
    width: 1168px;
    margin: 0 auto;
    position: relative;
    padding-top: 64px;
  }

  .section-seventh {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }


  .section-seventh-general {
    background: linear-gradient(to bottom, #192783, #0557DA);
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 56px 56px 26px 56px;
    height: 540px;
    width: 1168px;
    color: white;
    margin: 0 auto;
  }

  .section-seventh-general:nth-child(n+3) {
    display: none;
  }

  .seventh-test {
    display: flex;
    flex-direction: column;
  }

  .section-seventh-name {
    font-family: PT Sans, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 52px;
  }

  .section-seventh-title-partner {
    font-family: PT Sans, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 36px;
    color: white;
  }

  .section-seventh-description {
    font-family: Open Sans, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    margin: 32px 0;
    width: 600px;
    background: linear-gradient(to bottom, white 50%, rgba(255, 255, 255, .5) 75%, rgba(255, 255, 255, .2) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    /*background: -webkit-gradient(linear, left top, left bottom, from(white), to(rgba(255, 255, 255, .5)));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;*/

  }

  .section-seventh-pagination {
    width: 284px;
    height: 70px;
    display: flex;
    align-self: center;
    align-items: flex-end;
    justify-content: space-between;
    cursor: pointer;
  }

  .section-seventh-pagination:hover {
    opacity: .5;
  }

  .feedback {
    font-family: PT Sans, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 16px;
    color: #4AB7FF;
    text-decoration: none;
  }

  /*.toggle {
    width: 368px;
    height: 48px;
    display: flex;
    align-self: center;
    background: indianred;
  }

  .toggle-block > input[type=radio] {
    visibility: hidden;
  }*/

}

.section-seventh::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 640px;
  background: #E7EFFA;
  display: flex;
  flex-direction: column;
  clip-path: polygon(0 0, 100% 0, 100% 500px, 420px 600px, 0 500px);
  align-items: center;
}

/*---Остались вопросы?---*/
.section-eight {
  background: url(./../img/s2-background.png) no-repeat, linear-gradient(to bottom right, $color-gradient_dark, $color-gradient_super-light);
  height: 320px;
  flex-direction: column;
  justify-content: space-between;
  display: flex;
  width: 1168px;
  padding: 56px 32px;
  color: white;
  margin: auto;

  .s-8-color {
    color: $color-white;
    margin-bottom: 0;
  }

  .section-eight-title {
    width: 333px;
  }

  .btn-eight {
    @extend .buttons;

    width: $width-large;
    height: $height-normal;
    font-size: $font-size-normal;
    line-height: $line-height-normal;
    margin-top: 32px;
    border-radius: $border-radius;
  }
}


/*---Footer---*/

.footer-wrapper {
  display: flex;
  background: $background-blue_dark;
  padding: 32px 170px 30px 170px;
  height: 184px;
  margin-top: 48px;
  justify-content: space-between;


  .footer-info-group,
  .footer-responsive-wrapper {
    display: flex;
  }

  .our-address,
  .information {
    width: 384px;
  }

  .information a:hover {
    text-decoration: underline;
  }

  .our-address,
  .information a {
    color: $color-white;
    text-decoration: none;
    font-style: $font-style;
    font-weight: $font-weight_normal;
    font-size: 16px;
    line-height: 24px;
    display: flex;
    flex-direction: column;
    margin-right: 96px;
  }

  .footer-phone,
  .footer-mail,
  .footer-address {
    display: block;
  }

  .icon-footer-phone,
  .icon-footer-envelope,
  .icon-point,
  .footer-visible-w-320 {
    display: none;
  }

  .social {
    width: 216px;
    display: flex;
    flex-direction: column;
  }

  .footer-icon-group {
    display: flex;
    justify-content: space-between;
    font-size: 36px;
    margin-bottom: 16px;
  }

  .footer-icon-group a {
    text-decoration: none;
  }

  .btn-footer {
    @extend .buttons;
    width: $width-large;
    height: $height-normal;
    font-size: $font-size-normal;
    line-height: $line-height-normal;
    border-radius: $border-radius;
  }

}

.footer-copyright {
  color: #373737;
  display: flex;
  height: 32px;
  align-items: center;
  justify-content: space-between;
  padding: 0 170px;
  font-family: Open Sans, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;

  .footer-info a {
    font-family: Open Sans, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    text-decoration: none;
    color: #373737;
    margin-left: 32px;
  }
}


/*---MODAL PRESENTATION SECTION-FIRST---*/
.modal-presentation,
.modal-video {
  display: none;
  @extend .modal-s-1;
  position: absolute;
  padding: 52px 80px 28px 32px;
  /*display: flex;*/
  flex-direction: column;
  justify-content: space-between;
  top: 76px;

  .presentation,
  .video,
  .submit-email {
    color: $color-white;
    font-size: 20px;
    line-height: 32px;
  }

  .modal-icon {
    @extend .icons-normal;
    font-size: $font-size-icon_big;
  }
}

.modal-video {
  right: 50px;
}

.modal-title {
  width: 370px;
}

/*---MODAL SECTION-FIRST---*/
.modal {
  @extend .modal;
  visibility: hidden;
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 155px; /*отступы временные, чтобы не прилипал к краям*/
  left: 30%;

  .modal-list {
    width: 169px;
    height: 256px;
    margin-top: 125px;
    display: flex;
    margin-left: 153px;
    flex-direction: column;
    justify-content: space-between;

    .modal-list li {
      list-style: none;
    }

    .modal-list a {
      font-size: 24px;
      line-height: 32px;
      color: white;
      text-decoration: none;
    }

    .modal-list a:hover {
      text-decoration: underline;
    }
  }
}

/*MODAL THIRD SECTION*/
.s-3-modal {
  @extend .modal-s-3;
  position: absolute;
  left: 15%;
  top: 120%;

  .modal-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    width: 850px;
    height: 600px;
    padding: 60px 96px 60px 128px;
    background: linear-gradient(to bottom, #192783, #0557DA);
  }

  .modal-list-3 {
    color: white;
    margin-bottom: 32px;
    padding-left: 17px;
  }

  .p-s-third {
    justify-content: space-between;
  }

  .modal-img {
    background: url("./../img/s-3-modal.png");
    height: 600px;
  }

  .close {
    @extend .close;
    right: -24px;
    top: -24px;
  }

}

/*MODAL FOURTH SECTION*/
.modal-s-fourth {
  position: relative;

  .modal-content-4 {
    @extend .modal-s-4;
    position: absolute;
    z-index: 99;
    left: 26%;
    top: -705px;
    padding: 156px 160px 116px 128px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .close {
    right: 400px;
    top: -753px;
  }

  .modal-description-4 {
    color: $color-white;
    font-size: 16px;
    line-height: 24px;
  }

  .modal-icon-calendar > span,
  .modal-icon-key > span,
  .modal-icon-user > span,
  .modal-icon-settings > span {
    @extend .icons-small;
    font-size: $font-size-icon_small;
  }

  .title-modal-4 {
    color: $color-title_blue;
  }
}

/*MODAL SECTION-FIFTH*/
.s-5-modal {
  background: linear-gradient($color-gradient_super-dark, $color-gradient_light);
  position: absolute;
  width: 1200px;
  height: 912px;
  flex-direction: column;
  padding: 109px 168px 200px 125px;
  left: 16%;
  z-index: 99;
  top: 600%;

  .close {
    right: -25px;
    top: -24px;
  }

  .modal-fifth-title {
    font-style: $font-style;
    font-weight: $font-weight_bold;
    font-size: $font-size_huge;
    line-height: $line-height_huge;
    color: $color-white;
  }

  .s-5-modal {
    top: 550%;
  }

  .section-fifth-form {
    display: flex;
    flex-direction: column;
  }

  .section-fifth-form input {
    width: 384px;
    height: 48px;
    margin-bottom: 44px;
    border-radius: 4px;
    border: 0;
    padding-left: 16px;
    font-size: $font-size-modal;
    line-height: $line-height-modal;
    color: $color-modal_input;
  }

  .section-fifth-form label {
    margin-bottom: 4px;
  }

  .section-fifth-form textarea {
    width: 907px;
    height: 200px;
    padding: 16px;
    font-size: $font-size-modal;
    line-height: $line-height-modal;
    color: $color-modal_general;
    margin-bottom: 32px;
    border: 2px solid $color-modal_border;
    border-radius: 4px;
  }

  .label-color {
    color: $color-label;
  }

  .color-email {
    opacity: .3;
  }

  .color-name {
    opacity: .5;
  }

  .modal-wrapper {
    width: 907px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .fields-group-modal {
    font-style: $font-style;
    font-weight: 600;
    font-size: $font-size_normal;
    line-height: $line-height_normal;
    color: #4AB7FF;
    width: 588px;
  }

  .fields-group-modal a {
    text-decoration: none;
    color: $color-links-modal_blue;
  }

  .fields-group-modal input {
    display: none;
  }

  .label-modal {
    color: $color-white;
  }

  .btn-modal {
    @extend .buttons;
    width: $width-small;
    height: $height-small;
    font-size: $font-size-normal;
    line-height: $line-height-normal;
    border-radius: $border-radius;
  }
}

/*---MODAL SECTION-EIGHT---*/
.s-8-modal {
  background: linear-gradient($color-gradient_super-dark, $color-gradient_light);
  position: absolute;
  width: 1200px;
  height: 912px;
  flex-direction: column;
  padding: 109px 168px 200px 125px;
  left: 16%;
  z-index: 99;
  top: 600%;

  .close {
    right: -25px;
    top: -24px;
  }

  .modal-eight-title {
    font-style: $font-style;
    font-weight: $font-weight_bold;
    font-size: $font-size_huge;
    line-height: $line-height_huge;
    color: $color-white;
  }

  .s-8-modal {
    top: 550%;
  }

  .section-eight-form {
    display: flex;
    flex-direction: column;
  }

  .section-eight-form input {
    width: 384px;
    height: 48px;
    margin-bottom: 44px;
    border-radius: 4px;
    border: 0;
    padding-left: 16px;
    font-size: $font-size-modal;
    line-height: $line-height-modal;
    color: $color-modal_input;
  }

  .section-eight-form label {
    margin-bottom: 4px;
  }

  .section-eight-form textarea {
    width: 907px;
    height: 200px;
    padding: 16px;
    font-size: $font-size-modal;
    line-height: $line-height-modal;
    color: $color-modal_general;
    margin-bottom: 32px;
    border: 2px solid $color-modal_border;
    border-radius: 4px;
  }

  .label-color {
    color: $color-label;
  }

  .color-email {
    opacity: .3;
  }

  .color-name {
    opacity: .5;
  }

  .modal-wrapper {
    width: 907px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .fields-group-modal {
    font-style: $font-style;
    font-weight: 600;
    font-size: $font-size_normal;
    line-height: $line-height_normal;
    color: #4AB7FF;
    width: 588px;
  }

  .fields-group-modal a {
    text-decoration: none;
    color: $color-links-modal_blue;
  }

  .fields-group-modal input {
    display: none;
  }

  .label-modal {
    color: $color-white;
  }

  .btn-modal {
    @extend .buttons;
    width: $width-small;
    height: $height-small;
    font-size: $font-size-normal;
    line-height: $line-height-normal;
    border-radius: $border-radius;
  }
}

/*Закрыть для всех модальных окон*/
.close {
  @extend .close;
}

/*MODAL SUBMIT EMAIL*/
.modal-submit-email {
  display: none;
  width: 800px;
  height: 400px;
  background: linear-gradient(to bottom, $background-modal_dark, $background-modal_light);
  padding: 90px 100px 74px 100px;
  position: absolute;
  left: 30%;
  top: 50%;
  flex-direction: column;
  align-items: center;
  text-align: center;

  .modal-title-email {
    width: 536px;
    margin-bottom: 41px;
  }

  .submit-email {
    color: $color-white;
  }

  .modal-icon-email {
    @extend .icons-small;
    font-size: $font-size-icon_small;
  }

  .close {
    top: -24px;
    right: -24px;
  }

}

/*---MEDIA QUERIES---*/
@media (min-width: 1360px) and (max-width: 1919px) {
  header {
    padding: 0 48px;
  }

  .logo {
    width: 144px;
    height: 34px;

  }

  .section-first-wrapper {
    margin-left: 128px;
  }

  .section-first {
    clip-path: polygon(0 0, 100% 0, 100% calc(100vh - 284px), 270px calc(100vh - 192px), 0 calc(100vh - 240px));
  }

  /*.section-second-wrapper {
    margin: 0 96px;
  }*/

  .section-second-description {
    color: $color-white;
  }

  .section-third-wrapper {
    margin-bottom: 76px;
  }

  .section-third-wrapper::before {
    clip-path: polygon(0 30px, 304px 90px, 100% 30px, 100% 1124px, 304px 1206px, 0 1124px, 0 100%);
    padding-bottom: 375px;
  }

  .section-fourth {
    margin-top: 131px;
  }

  .section-fifth-wrapper {
    width: 1168px;
    justify-content: space-between;
  }

  .section-fifth-toggle-left {
    left: -130px;
  }

  .section-fifth-toggle-right {
    right: -130px;
  }

  .section-sixth-wrapper {
    margin-top: 64px;
  }

  .title-p-t {
    padding-top: 68px;
  }

  .footer-wrapper {
    padding: 32px 48px 30px 48px;
  }
  .our-address {
    margin-right: 0;
  }

  .footer-copyright {
    padding: 0 40px;
  }

}

@media (max-width: 1359px) and (min-width: 1024px) {
  header {
    padding: 0 40px;

    .logo {
      width: 118px;
      height: 28px;
    }

    .nav-btn {
      width: 185px;
      font-size: 14px;
      line-height: 20px;
    }

    .icon-phone {
      font-size: 20px;
      text-decoration: none;
    }

    .phone {
      display: none;
    }

    .icon-phone {
      display: block;
    }

    .nav li {
      margin-right: 24px;
    }

    .nav a {
      font-size: 14px;
      line-height: 20px;
    }
  }

  .section-first {
    clip-path: polygon(0 0, 100% 0, 100% calc(100vh - 284px), 270px calc(100vh - 202px), 0 calc(100vh - 280px));
  }

  .section-first-wrapper {
    margin: 216px 0 0 120px;
  }

  h2,
  h3 {
    font-size: 32px;
    line-height: 48px;
  }

  .wrapper-title {
    width: 848px;
  }

  /*---Преимущества от внедрения---*/
  .section-second-wrapper,
  .wrapper-title,
  .s-2-wrapper {
    width: 848px;

    .section-second-advantages {
      width: 416px;
      height: 400px;
    }

    .last-advantages {
      flex: 0 0 848px;
    }

    .right-side {
      right: 0;
    }

    .btn-section-second {
      width: $width-small;
      height: $height-small;
    }
  }

  /*---Особенности MasterЦОД---*/
  .section-third-wrapper {

    .third-title {
      width: 848px;
    }

    .section-third {
      width: 848px;
    }

    .section-third-advantages h3 {
      font-size: 24px;
      line-height: 32px;
    }

    .section-third-advantages {
      width: 272px;
      height: 272px;
    }

    .section-third-icon {
      width: $width_icon_small;
      height: $height_icon_small;
      font-size: $font-size-icon_small;
    }

    .section-third-last-advantages {
      width: 848px;
    }

    .get-advice {
      width: 400px;
      font-size: 32px;
      line-height: 48px;
    }

    .section-third-form input {
      width: 254px;
      height: 48px;
      font-size: 16px;
      line-height: 20px;
    }

    .btn-section-third {
      width: 130px;
      height: 48px;
    }
  }
  .section-third-wrapper::before {
    clip-path: polygon(0 30px, 185px 80px, 100% 20px, 100% 904px, 180px 995px, 0 882px, 0 100%);
  }

  /*---Почему мы?---*/
  .section-fourth {
    margin-top: 100px;

    .section-fourth-wrapper,
    .s-6-wrapper {
      width: 848px;
    }

    .section-fourth-advantages {
      width: 200px;
      height: 200px;
      padding: 48px 0 16px 32px;
    }

    .section-fourth-advantages h4 {
      font-size: 16px;
      line-height: 24px;
    }

    .section-fourth-icon {
      width: 56px;
      height: 56px;
      font-size: 56px;
    }

    .fourth-last-advantages {
      flex: 0 0 848px;
    }

    .section-second-description {
      color: $color-white;
    }

    .fourth-right-side {
      right: 0;
    }
  }

  /*---Нам доверяют---*/
  .section-fifth {
    .w-h2 {
      width: 848px;
    }

    .partner:nth-child(5) {
      display: none;
    }
  }

  /*---Внедрения---*/
  .section-sixth-wrapper {

    .sixth-title {
      width: 848px;
    }

    .section-sixth-advantages {
      width: 272px;
      height: 541px;
      padding-top: 18px;
    }

    .icon-partner-one,
    .icon-partner-three {
      width: 203px;
      margin: 56px 0 56px 0;
    }

    .icon-partner-two {
      margin: 18px 24px 70px 24px;
    }
  }

  /*---Что о нас говорят клиенты---*/
  .section-seventh-wrapper {

    .seventh-title {
      width: 848px;
    }

    .section-seventh-general {
      width: 848px;
    }
  }

  /*---Остались вопросы?---*/
  .section-eight {
    width: 848px;

    .btn-eight {
      width: 185px;
      height: 48px;
    }
  }

  .footer-wrapper {
    height: 224px;
    padding: 32px 40px;


    .footer-wrapper .logo {
      width: 209px;
      height: 48px;
      margin-right: 26px;
    }
  }

  .footer-copyright {
    padding: 0 40px;
  }
  .our-address {
    width: 384px;
    height: 72px;
    font-size: 16px;
    line-height: 24px;
    font-family: Open Sans, sans-serif;
    font-style: normal;
    font-weight: normal;
  }

  .information {
    width: 224px;
    height: 72px;
  }

  .footer-info-group {
    flex-direction: column;
    justify-content: space-between;
  }

  .footer-visible-w-320 {
    display: none;
  }
}

@media (max-width: 1023px) and (min-width: 768px) {
  header {
    padding: 0 70px;

    .nav,
    .nav-btn {
      display: none;
    }

    .icon-menu {
      display: flex;
    }
  }

  .section-first {
    clip-path: polygon(0 0, 100% 0, 100% calc(100vh - 284px), 270px calc(100vh - 202px), 0 calc(100vh - 280px));

    .section-first-wrapper {
      margin: 216px 0 0 120px;
    }
  }

  /*---Преимущества от внедрения---*/
  .section-second-wrapper,
  .wrapper-title,
  .s-2-wrapper {
    width: 848px;

    .section-second-advantages {
      width: 416px;
      height: 400px;
    }

    .last-advantages {
      flex: 0 0 848px;
    }

    .right-side {
      right: 0;
    }

    .btn-section-second {
      width: $width-small;
      height: $height-small;
    }
  }

  /*---Особенности MasterЦОД---*/
  .section-third-wrapper {

    .third-title {
      width: 848px;
    }

    .section-third {
      width: 848px;
    }

    .section-third-advantages h3 {
      font-size: 24px;
      line-height: 32px;
    }

    .section-third-advantages {
      width: 272px;
      height: 272px;
    }

    .section-third-icon {
      width: $width_icon_small;
      height: $height_icon_small;
      font-size: $font-size-icon_small;
    }

    .section-third-last-advantages {
      width: 848px;
    }

    .get-advice {
      width: 400px;
      font-size: 32px;
      line-height: 48px;
    }

    .section-third-form input {
      width: 254px;
      height: 48px;
      font-size: 16px;
      line-height: 20px;
    }

    .btn-section-third {
      width: 130px;
      height: 48px;
    }
  }
  .section-third-wrapper::before {
    clip-path: polygon(0 30px, 185px 80px, 100% 20px, 100% 930px, 180px 995px, 0 911px, 0 100%);
  }

  /*---Почему мы?---*/
  .section-fourth {
    margin-top: 100px;

    .section-fourth-wrapper,
    .s-6-wrapper {
      width: 848px;
    }

    .section-fourth-advantages {
      width: 200px;
      height: 200px;
      padding: 48px 0 16px 32px;
    }

    .section-fourth-advantages h4 {
      font-size: 16px;
      line-height: 24px;
    }

    .section-fourth-icon {
      width: 56px;
      height: 56px;
      font-size: 56px;
    }

    .fourth-last-advantages {
      flex: 0 0 848px;
    }

    .section-second-description {
      color: $color-white;
    }

    .fourth-right-side {
      right: 0;
    }
  }

  /*---Нам доверяют---*/
  .section-fifth {
    .w-h2 {
      width: 848px;
    }

    .partner:nth-child(5) {
      display: none;
    }
  }

  /*---Внедрения---*/
  .section-sixth-wrapper {

    .sixth-title {
      width: 848px;
    }

    .section-sixth-advantages {
      width: 272px;
      height: 541px;
      padding-top: 18px;
    }

    .icon-partner-one,
    .icon-partner-three {
      width: 203px;
      margin: 56px 0 56px 0;
    }

    .icon-partner-two {
      margin: 18px 24px 70px 24px;
    }
  }

  /*---Что о нас говорят клиенты---*/
  .section-seventh-wrapper {

    .seventh-title {
      width: 848px;
    }

    .section-seventh-general {
      width: 848px;
    }
  }

  /*---Остались вопросы?---*/
  .section-eight {
    width: 848px;

    .btn-eight {
      width: 185px;
      height: 48px;
    }
  }

  .footer-wrapper {
    height: 224px;
    padding: 32px 40px;

    .logo {
      width: 209px;
      height: 43px;
      margin-right: 26px;
    }

    .btn-footer {
      font-size: 20px;
      line-height: 28px;
    }

  }

  .footer-copyright {
    padding: 0 40px;
  }
  .our-address {
    width: 384px;
    height: 72px;
    font-size: 16px;
    line-height: 24px;
    font-family: Open Sans, sans-serif;
    font-style: normal;
    font-weight: normal;
  }

  .information {
    width: 224px;
    height: 72px;
  }

  .footer-info-group {
    flex-direction: column;
    justify-content: space-between;
  }

  .footer-visible-w-320 {
    display: none;
  }

}

@media (max-width: 767px) and (min-width: 687px) {
  header {
    padding: 0 72px;

    .nav,
    .nav-btn {
      display: none;
    }

    .icon-menu {
      display: flex;
    }
  }

  .section-first {
    clip-path: polygon(0 0, 100% 0, 100% calc(100vh - 300px), 270px calc(100vh - 230px), 0 calc(100vh - 300px));

    .section-first-wrapper {
      margin: 150px 0 0 60px;
    }
  }

  /*---Преимущества от внедрения---*/
  .section-second-wrapper,
  .wrapper-title,
  .s-2-wrapper {
    width: 768px;

    .h2 {
      width: 768px;
      font-size: 32px;
      line-height: 48px;
      text-align: center;
    }

    .section-second-advantages {
      width: 528px;
      height: 400px;
      margin: 0 auto;
    }

    .advantages-wrapper ul {
      height: 144px;
      overflow: hidden;
      padding-left: 15px;
    }

    h3 {
      font-size: 32px;
      line-height: 48px;
    }

    .advantages-wrapper li:nth-child(n+2) {
      opacity: .5;
      color: white;
    }

    .advantages-wrapper li:nth-child(n+3) {
      opacity: .2;
      color: white;
    }

    .advantages-wrapper li:hover:nth-child(n+2) {
      opacity: 1;
      color: white;
    }

    .left-side {
      width: 768px;
      height: 400px;
      text-align: center;
    }

    .right-side {
      display: none;
    }

    .btn-section-second {
      width: $width-small;
      height: $height-small;
    }
  }
  .section-second-last-advantages {
    width: 768px;
    height: 400px;
  }

  /*---Особенности MasterЦОД---*/
  .section-third-wrapper {


    .third-title {
      width: 768px;
    }

    h2 {
      font-size: 24px;
      line-height: 32px;
      text-align: center;
    }

    .section-third {
      width: 528px;
      justify-content: center;
    }

    .section-third-advantages h3 {
      font-size: 24px;
      line-height: 32px;
    }

    .section-third-advantages {
      width: 256px;
      height: 256px;
      margin: 0 16px 16px 0;
    }

    .section-third-advantages:nth-child(3) {
      margin-right: 16px;
    }

    .section-third-advantages:nth-child(even) {
      margin-right: 0;
    }

    .section-third-icon {
      width: $width_icon_small;
      height: $height_icon_small;
      font-size: $font-size-icon_small;
    }

    .section-third-last-advantages {
      width: 768px;
      height: 330px;
      display: flex;
      flex-direction: column;
      margin-top: 32px;

    }

    .third-left-side {
      width: 528px;
      margin: 0 auto;
      text-align: center;
    }

    .third-right-side {
      width: 528px;
      margin: 0 auto;
    }

    .get-advice {
      font-size: 32px;
      line-height: 48px;
      margin-bottom: 16px;
    }

    .get-advice::after {
      display: none;
    }

    .section-third-form {
      justify-content: center;
      margin-top: 32px;
    }

    .section-third-form input {
      width: 254px;
      height: 48px;
      font-size: 16px;
      line-height: 20px;
      border-top-left-radius: 4px;
      border-bottom-left-radius: 4px;
    }

    .btn-section-third {
      width: 185px;
      height: 48px;
      border-top-right-radius: 4px;
      border-bottom-right-radius: 4px;
    }

    .fields-group {
      font-size: 12px;
      line-height: 14px;
      width: 384px;
      margin: 0 auto;
      text-align: center;
    }

    .label-m {
      margin-left: 0;
    }
  }
  .section-third-wrapper::before {
    clip-path: polygon(0 30px, 92px 130px, 100% 30px, 100% 100%, 0 100%);
  }

  /*---Почему мы?---*/
  .section-fourth {

    margin: 0;

    .section-fourth-wrapper,
    .s-6-wrapper {
      width: 528px;
      justify-content: center;
    }

    .section-fourth-advantages {
      width: 200px;
      height: 200px;
      padding: 48px 0 16px 32px;
      margin-bottom: 16px;
    }

    .section-fourth-advantages h4 {
      font-size: 16px;
      line-height: 24px;
    }

    .section-fourth-icon {
      width: 56px;
      height: 56px;
      font-size: 56px;
    }

    .section-fourth-advantages:last-child {
      margin-right: 16px;
    }

    .section-second-description {
      color: $color-white;
      margin-bottom: 32px;
    }

    .fourth-right-side {
      display: none;
    }

    .fourth-left-side {
      width: 768px;
      text-align: center;
    }

    .section-fourth-last-advantages {
      flex: 0 0 768px;
    }

    .btn-section-fourth {
      height: 48px;
      margin: 0 auto;
    }

    .fourth-last-advantages {
      flex: 0 0 768px;
    }
  }

  /*---Нам доверяют---*/
  .section-fifth {
    .w-h2 {
      width: 768px;
    }

    .partner {
      width: 25%;
    }

    .partner:nth-child(4),
    .partner:nth-child(5) {
      display: none;
    }
  }

  /*---Внедрения---*/
  .section-sixth-wrapper {

    .sixth-title {
      width: 768px;
    }

    .section-sixth-advantages {
      width: 528px;
      height: 528px;
      padding-top: 18px;
      margin-bottom: 16px;
      margin-right: 0;
    }

    .icon-partner-one,
    .icon-partner-three {
      width: 203px;
      margin: 56px 0 56px 0;
    }

    .icon-partner-two {
      margin: 18px 24px 70px 24px;
    }
  }

  /*---Что о нас говорят клиенты---*/
  .section-seventh-wrapper {

    .seventh-title {
      width: 768px;
    }

    .section-seventh-general {
      width: 768px;
    }
  }

  /*---Остались вопросы?---*/
  .section-eight {
    width: 768px;
    align-items: center;

    .section-eight-title {
      text-align: center;
    }

    .btn-eight {
      width: 185px;
      height: 48px;
    }
  }

  /*---Footer---*/
  .footer-wrapper {
    width: 768px;
    height: 232px;
    padding: 36px 72px 44px 72px;

    .logo {
      width: 112px;
      height: 26px;
    }

    .footer-info-group,
    .footer-responsive-wrapper {
      display: flex;
      flex-direction: column;
    }

    .our-address,
    .information {
      width: 304px;
    }

    .information {
      margin: 16px 0 32px 0;
    }

    .information a:hover {
      text-decoration: underline;
    }

    .our-address,
    .information a {
      width: 304px;
      color: $color-white;
      text-decoration: none;
      font-style: $font-style;
      font-weight: $font-weight_normal;
      font-size: 14px;
      line-height: 20px;
      display: flex;
      flex-direction: column;
      margin-right: 0;
    }

    .footer-phone,
    .footer-mail,
    .footer-address {
      display: block;
    }

    .icon-footer-phone,
    .icon-footer-envelope,
    .icon-point,
    .footer-visible-w-320 {
      display: none;
    }

    .social {
      width: 132px;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
    }

    .footer-icon-group {
      width: 132px;
      justify-content: space-evenly;
    }

    .icon-social {
      width: 20px;
      height: 20px;
      font-size: 20px;
    }

    .footer-icon-group a {
      text-decoration: none;
    }

    .btn-footer {
      margin: 0 auto;
      /*@extend .buttons;*/
      width: 132px;
      height: 40px;
      font-size: 16px;
      line-height: 20px;
      border-radius: $border-radius;
    }
  }

  .footer-copyright-wrapper {
    display: none;
  }

  .footer-copyright {
    padding: 10px 72px;
    font-size: 8px;
    line-height: 12px;

    .footer-info {
      width: 700px;
      display: flex;
      justify-content: space-between;
    }

    .footer-info a {
      font-family: Open Sans, sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 8px;
      line-height: 12px;
      text-decoration: none;
      color: #373737;
      margin-left: 0;
    }
  }

}

@media (max-width: 686px) and (min-width: 320px) {
  header {
    padding: 0 8px;

    .phone,
    .nav,
    .nav-btn {
      display: none;
    }

    .logo {
      width: 112px;
      height: 27px;
    }

    .icon-menu,
    .icon-phone {
      display: flex;

    }
  }

  .section-first {
    clip-path: polygon(0 0, 100% 0, 100% calc(100vh - 468px), 115px calc(100vh - 399px), 0 calc(100vh - 470px));

    .section-first-wrapper {
      margin: 80px 8px 0;
    }

    h1 {
      text-align: center;
      font-size: 40px;
      line-height: 40px;
    }

    .section-first-description {
      width: 340px;
      text-align: center;
      font-size: 14px;
      line-height: 20px;
    }
  }

  /*---Преимущества от внедрения---*/
  .section-second-wrapper,
  .wrapper-title,
  .s-2-wrapper {
    width: 320px;

    .h2 {
      width: 320px;
      font-size: 24px;
      line-height: 32px;
      text-align: center;
    }

    .section-second-last-advantages {
      height: 400px;
    }

    .section-second-advantages {
      width: 320px;
      height: 400px;
      margin-bottom: 16px;
    }

    .advantages-wrapper ul {
      height: 144px;
      overflow: hidden;
      text-align: center;
      padding-left: 15px;
    }

    h3 {
      font-size: 32px;
      line-height: 48px;
      width: 250px;
      text-align: center;
    }

    .advantages-wrapper {
      width: 250px;
    }

    .advantages-wrapper li:nth-child(n+2) {
      opacity: .5;
      color: white;
    }

    .advantages-wrapper li:nth-child(n+3) {
      opacity: .2;
      color: white;
    }

    .advantages-wrapper li:hover:nth-child(n+2) {
      opacity: 1;
      color: white;
    }

    .s-2-list {
      width: 250px;
    }

    .last-advantages {
      flex: 0 0 320px;
      height: 400px;
    }

    .left-side {
      width: 320px;
      height: 400px;
      text-align: center;
    }

    .right-side {
      display: none;
    }

    .btn-section-second {
      width: $width-small;
      height: $height-small;
    }
  }

  /*---Особенности MasterЦОД---*/
  .section-third-wrapper {

    .third-title {
      width: 320px;
    }

    h2 {
      font-size: 24px;
      line-height: 32px;
      text-align: center;
    }

    .section-third {
      width: 320px;
      justify-content: center;
    }

    .section-third-advantages h3 {
      font-size: 24px;
      line-height: 32px;
    }

    .section-third-advantages {
      width: 256px;
      height: 256px;
     margin: 0 0 16px 0;
    }

    .section-third-icon {
      width: $width_icon_small;
      height: $height_icon_small;
      font-size: $font-size-icon_small;
    }

    .section-third-last-advantages {
      width: 320px;
      display: flex;
      flex-direction: column;
      margin-top: 32px;
      padding: 56px 8px 0;
    }

    .third-left-side {
      width: 320px;
      text-align: center;
    }

    .third-right-side {
      width: 320px;
    }

    .get-advice {
      font-size: 32px;
      line-height: 48px;
      margin-bottom: 16px;
    }

    .get-advice::after {
      display: none;
    }

    .section-third-form {
      flex-direction: column;
      align-items: center;
      width: 304px;
      margin-top: 32px;
    }

    .section-third-form input {
      width: 254px;
      height: 48px;
      font-size: 16px;
      line-height: 20px;
      border-radius: 4px;
    }

    .btn-section-third {
      width: 185px;
      height: 48px;
      border-radius: 4px;
      margin-top: 16px;
    }

    .fields-group {
      font-size: 12px;
      line-height: 14px;
      width: 304px;
      text-align: center;
    }

    .label-m {
      margin-left: 0;
    }
  }
  .section-third-wrapper::before {
    clip-path: polygon(0 105px, 92px 130px, 100% 80px, 100% 100%, 0 100%);
    padding-bottom: 684px;
  }

  /*---Почему мы?---*/
  .section-fourth {


    .section-fourth-wrapper,
    .s-6-wrapper {
      width: 320px;
      justify-content: center;
    }

    .section-fourth-advantages {
      width: 256px;
      height: 256px;
      padding: 48px 14px 16px 32px;
      margin: 0 0 16px 0;
    }

    .section-fourth-advantages h4 {
      font-size: 24px;
      line-height: 32px;
    }

    .section-fourth-icon {
      width: 72px;
      height: 72px;
      font-size: 72px;
    }

    .fourth-last-advantages {
      flex: 0 0 320px;
      height: 400px;
    }

    .section-second-description {
      color: $color-white;
      text-align: center;
      font-size: 16px;
      line-height: 24px;
    }

    .fourth-right-side {
      display: none;
    }

    .fourth-left-side h2 {
      font-size: 36px;
      line-height: 52px;
      text-align: center;
    }

    .btn-section-fourth {
      height: 48px;
      align-self: center;
    }
  }

  /*---Нам доверяют---*/
  .section-fifth {
    .w-h2 {
      width: 320px;
    }

    .partner {
      display: none;
      padding-right: 0;
    }

    .partner:first-child {
      display: flex;
      width: 100%;
    }
  }

  /*---Внедрения---*/
  .section-sixth-wrapper {

    .sixth-title {
      width: 320px;
    }

    h2 {
      margin: 0 auto;
    }

    .section-sixth {
      margin-top: 48px;
    }

    .section-sixth-advantages {
      width: 320px;
      height: 400px;
      padding: 56px 56px 64px;
      margin-bottom: 16px;
      margin-right: 0;
    }

    .icon-partner-one,
    .icon-partner-three {
      width: 203px;
      margin: 0;
    }

    .icon-partner-two {
      margin: 0;
    }

    .section-sixth-icon {
      display: none;
    }
  }

  .section-sixth-wrapper::before {
    display: none;
  }

  /*---Что о нас говорят клиенты---*/
  .section-seventh-wrapper {
    .seventh-title {
      width: 320px;
      padding-top: 48px;
    }

    .seventh-title h2 {
      font-size: 24px;
      line-height: 32px;
      text-align: center;
      width: 320px;
    }

    .section-seventh-description {
      width: 304px;
      text-overflow: ellipsis;
      height: 192px;
    }

    .section-seventh-general {
      width: 320px;
      padding: 56px 8px 26px;
    }

    .section-seventh-name {
      font-size: 32px;
      line-height: 48px;
    }

    .section-seventh-title-partner {
      font-size: 24px;
      line-height: 32px;
    }

    .section-seventh-pagination {
      justify-content: space-evenly;
      font-size: 12px;
    }

    .section-seventh::before {
      display: none;
    }
  }

  /*---Остались вопросы?---*/
  .section-eight {
    width: 320px;
    height: 400px;
    justify-content: start;
    background: url(./../img/s2-background.png) no-repeat center, linear-gradient(to bottom right, #0B59D0, #4AB7FF);

    .s-8-color {
      color: $color-white;
      margin-bottom: 0;
      text-align: center;
    }

    .section-eight-title {
      width: 260px;
      text-align: center;
      margin: 16px 0 32px;
    }

    .btn-eight {
      width: 185px;
      height: 48px;
      margin: 0 auto;
    }
  }

  /*---Footer---*/
  .footer-wrapper {
    flex-direction: column;
    width: 320px;
    height: 450px;
    margin: 0 auto;
    padding: 19px 8px 48px 8px;
    justify-content: start;

    .logo {
      width: 112px;
      height: 26px;
      margin-bottom: 33px;
    }

    .footer-info-group,
    .footer-responsive-wrapper {
      display: flex;
      flex-direction: column;
    }

    .our-address,
    .information {
      width: 304px;
    }

    .information {
      margin: 16px 0 32px 0;
    }

    .information a:hover {
      text-decoration: underline;
    }

    .our-address,
    .information a {
      width: 304px;
      color: $color-white;
      text-decoration: none;
      font-style: $font-style;
      font-weight: $font-weight_normal;
      font-size: 14px;
      line-height: 20px;
      display: flex;
      flex-direction: column;
      margin-right: 0;
    }

    .footer-phone,
    .footer-mail,
    .footer-address {
      display: block;
    }

    .icon-footer-phone,
    .icon-footer-envelope,
    .icon-point,
    .footer-visible-w-320 {
      display: none;
    }

    .social {
      width: 304px;
      display: flex;
      flex-direction: column;
    }

    .footer-icon-group {
      width: 304px;
      justify-content: space-evenly;
    }

    .icon-social {
      width: 40px;
      height: 40px;
      font-size: 40px;
    }

    .footer-icon-group a {
      text-decoration: none;
    }

    .btn-footer {
      margin: 0 auto;
      @extend .buttons;
      width: $width-large;
      height: $height-normal;
      font-size: 20px;
      line-height: 28px;
      border-radius: $border-radius;
    }
  }

  .footer-copyright-wrapper {
    display: none;
  }

  .footer-copyright {
    flex-direction: column;
    width: 320px;
    height: 97px;
    margin: 0 auto;
    padding: 16px 8px 9px;

    .footer-info {
      width: 304px;
      display: flex;
      flex-direction: column;
      height: 97px;
      justify-content: space-between;
    }

    .footer-info a {
      font-family: Open Sans, sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 12px;
      line-height: 14px;
      text-decoration: none;
      color: #373737;
      margin-left: 0;
    }
  }
}
















