@font-face {
    font-family: 'icomoon';
    src:  url('fonts/icomoon.eot?utupf4');
    src:  url('fonts/icomoon.eot?utupf4#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?utupf4') format('truetype'),
    url('fonts/icomoon.woff?utupf4') format('woff'),
    url('fonts/icomoon.svg?utupf4#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-menu:before {
    content: "\e912";
    color: #fff;
}
.icon-phone:before {
    content: "\e911";
    color: #fff;
}
.icon-calendar:before {
    content: "\e900";
    color: #fff;
}
.icon-envelope:before {
    content: "\e901";
    color: #fff;
}
.icon-footer-social-fb:before {
    content: "\e902";
    color: #4ab7ff;
}
.icon-footer-social-inst:before {
    content: "\e903";
    color: #4ab7ff;
}
.icon-footer-social-vk:before {
    content: "\e904";
    color: #4ab7ff;
}
.icon-footer-social-youtube:before {
    content: "\e905";
    color: #4ab7ff;
}
.icon-key:before {
    content: "\e906";
    color: #fff;
}
.icon-s-2-checkbox:before {
    content: "\e907";
    color: #4ab7ff;
}
.icon-s-2-icon:before {
    content: "\e908";
    color: #4ab7ff;
}
.icon-s-6-icon-1:before {
    content: "\e909";
    color: #fff;
}
.icon-s-6-icon-2:before {
    content: "\e90a";
    color: #fff;
}
.icon-s-6-icon-3:before {
    content: "\e90b";
    color: #fff;
}
.icon-s-7-pagination_white:before {
    content: "\e90c";
    color: #fff;
}
.icon-settings:before {
    content: "\e90d";
    color: #fff;
}
.icon-toggle-next:before {
    content: "\e90e";
}
.icon-toggle-prev:before {
    content: "\e90f";
}
.icon-user:before {
    content: "\e910";
    color: #fff;
}
